{% extends 'base.html.twig' %}

{% block title %}Deaddrop index{% endblock %}

{% block body %}
    <h1>Deaddrop index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Size</th>
                <th>CreatedAt</th>
                <th>About</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Status</th>
                <th>IsExternalReferrer</th>
                <th>UpdatedAt</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th>DeaddropId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deaddrop in deaddrops %}
            <tr>
                <td>{{ deaddrop.id }}</td>
                <td>{{ deaddrop.name }}</td>
                <td>{{ deaddrop.size }}</td>
                <td>{{ deaddrop.createdAt ? deaddrop.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ deaddrop.about }}</td>
                <td>{{ deaddrop.longitude }}</td>
                <td>{{ deaddrop.latitude }}</td>
                <td>{{ deaddrop.status }}</td>
                <td>{{ deaddrop.isExternalReferrer ? 'Yes' : 'No' }}</td>
                <td>{{ deaddrop.updatedAt ? deaddrop.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ deaddrop.address }}</td>
                <td>{{ deaddrop.city }}</td>
                <td>{{ deaddrop.country }}</td>
                <td>{{ deaddrop.deaddropId }}</td>
                <td>
                    <a href="{{ path('app_deaddrop_show', {'id': deaddrop.id}) }}">show</a>
                    <a href="{{ path('app_deaddrop_edit', {'id': deaddrop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_deaddrop_new') }}">Create new</a>
{% endblock %}
